@import '../../theme.scss';

.container {
    overflow: hidden;
    background: $color-primary;
    height: 100%;

    .center {
        margin: auto auto;
        width: 1280px;

        > p {
            text-align: center;
            font-size: 48px;
            margin: 0;
        }

        .cards {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .spacer {
                width: 400px;
                height: 0px;
                margin: 40px;
            }
        }

    }
}
